@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url(Abril_Fatface-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    src: url(Actor-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 300;
    src: url(Advent_Pro-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    src: url(Advent_Pro-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 700;
    src: url(Advent_Pro-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    src: url(Amaranth-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 700;
    src: url(Amaranth-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Amaranth';
    font-style: italic;
    font-weight: 400;
    src: url(Amaranth-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Amaranth';
    font-style: italic;
    font-weight: 700;
    src: url(Amaranth-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    src: url(Architects_Daughter-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    src: url(Arvo-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    src: url(Arvo-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Arvo';
    font-style: italic;
    font-weight: 400;
    src: url(Arvo-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Arvo';
    font-style: italic;
    font-weight: 700;
    src: url(Arvo-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    src: url(Bangers-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    src: url(Bree_Serif-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: url(Cabin-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: url(Cabin-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 400;
    src: url(Cabin-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 700;
    src: url(Cabin-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 400;
    src: url(Cantarell-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 700;
    src: url(Cantarell-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cantarell';
    font-style: italic;
    font-weight: 400;
    src: url(Cantarell-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cantarell';
    font-style: italic;
    font-weight: 700;
    src: url(Cantarell-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    src: url(Cardo-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    src: url(Cardo-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    src: url(Cardo-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Codystar';
    font-style: normal;
    font-weight: 300;
    src: url(Codystar-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Codystar';
    font-style: normal;
    font-weight: 400;
    src: url(Codystar-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    src: url(Cookie-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Coustard';
    font-style: normal;
    font-weight: 400;
    src: url(Coustard-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: url(Crimson_Text-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    src: url(Crimson_Text-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    src: url(Crimson_Text-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    src: url(Crimson_Text-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url(Dancing_Script-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    src: url(Dancing_Script-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: url(Dosis-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url(Dosis-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: url(Dosis-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: url(Droid_Sans-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    src: url(Droid_Sans-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 400;
    src: url(Droid_Sans_Mono-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 400;
    src: url(Droid_Serif-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 700;
    src: url(Droid_Serif-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Droid Serif';
    font-style: italic;
    font-weight: 400;
    src: url(Droid_Serif-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Droid Serif';
    font-style: italic;
    font-weight: 700;
    src: url(Droid_Serif-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: url(EB_Garamond-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Ewert';
    font-style: normal;
    font-weight: 400;
    src: url(Ewert-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: 400;
    src: url(Fredericka_the_Great-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Gentium Basic';
    font-style: normal;
    font-weight: 400;
    src: url(Gentium_Basic-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Gentium Basic';
    font-style: normal;
    font-weight: 700;
    src: url(Gentium_Basic-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Gentium Basic';
    font-style: italic;
    font-weight: 400;
    src: url(Gentium_Basic-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Gentium Basic';
    font-style: italic;
    font-weight: 700;
    src: url(Gentium_Basic-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Glegoo';
    font-style: normal;
    font-weight: 400;
    src: url(Glegoo-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Glegoo';
    font-style: normal;
    font-weight: 700;
    src: url(Glegoo-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: light;
    src: url(Hind-Light.ttf) format('ttf');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: normal;
    src: url(Hind-Medium.ttf) format('ttf');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: bold;
    src: url(Hind-Bold.ttf) format('ttf');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Iceberg';
    font-style: normal;
    font-weight: 400;
    src: url(Iceberg-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'IM Fell English';
    font-style: normal;
    font-weight: 400;
    src: url(IM_Fell_English-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'IM Fell English';
    font-style: italic;
    font-weight: 400;
    src: url(IM_Fell_English-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url(Inconsolata-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    src: url(Inconsolata-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 300;
    src: url(Josefin_Slab-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    src: url(Josefin_Slab-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 700;
    src: url(Josefin_Slab-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Josefin Slab';
    font-style: italic;
    font-weight: 300;
    src: url(Josefin_Slab-italic-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Josefin Slab';
    font-style: italic;
    font-weight: 400;
    src: url(Josefin_Slab-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Josefin Slab';
    font-style: italic;
    font-weight: 700;
    src: url(Josefin_Slab-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url(Karla-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url(Karla-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 400;
    src: url(Karla-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 700;
    src: url(Karla-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(Lato-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(Lato-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(Lato-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url(Lato-italic-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(Lato-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url(Lato-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    src: url(Lemon-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url(Lobster-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(Lora-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url(Lora-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: url(Lora-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    src: url(Lora-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    src: url(Luckiest_Guy-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Mate SC';
    font-style: normal;
    font-weight: 400;
    src: url(Mate_SC-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Metamorphous';
    font-style: normal;
    font-weight: 400;
    src: url(Metamorphous-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Molengo';
    font-style: normal;
    font-weight: 400;
    src: url(Molengo-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    src: url(Monoton-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(Montserrat-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(Montserrat-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    src: url(Muli-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url(Muli-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 300;
    src: url(Muli-italic-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 400;
    src: url(Muli-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 400;
    src: url(News_Cycle-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    src: url(News_Cycle-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: url(Nunito-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(Nunito-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url(Nunito-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url(Open_Sans-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(Open_Sans-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(Open_Sans-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url(Open_Sans-italic-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url(Open_Sans-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url(Open_Sans-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url(Oswald-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url(Oswald-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url(Oswald-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 300;
    src: url(Oxygen-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url(Oxygen-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    src: url(Oxygen-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url(Pacifico-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    src: url(Patua_One-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Playball';
    font-style: normal;
    font-weight: 400;
    src: url(Playball-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url(Playfair_Display-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url(Playfair_Display-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url(Playfair_Display-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    src: url(Playfair_Display-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Poly';
    font-style: normal;
    font-weight: 400;
    src: url(Poly-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Poly';
    font-style: italic;
    font-weight: 400;
    src: url(Poly-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(PT_Sans-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url(PT_Sans-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url(PT_Sans-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: url(PT_Sans-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    src: url(Quattrocento-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    src: url(Quattrocento-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    src: url(Questrial-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: url(Quicksand-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(Quicksand-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url(Quicksand-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url(Raleway-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(Raleway-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url(Raleway-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 400;
    src: url(Reenie_Beanie-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(Roboto-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(Roboto-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(Roboto-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url(Roboto-italic-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(Roboto-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(Roboto-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 400;
    src: url(Rokkitt-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 700;
    src: url(Rokkitt-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Rufina';
    font-style: normal;
    font-weight: normal;
    src: url(Rufina-Regular.ttf) format('ttf');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Rufina';
    font-style: normal;
    font-weight: bold;
    src: url(Rufina-Bold.ttf) format('ttf');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Sofia';
    font-style: normal;
    font-weight: 400;
    src: url(Sofia-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    font-style: normal;
    font-weight: 400;
    src: url(Sorts_Mill_Goudy-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    font-style: italic;
    font-weight: 400;
    src: url(Sorts_Mill_Goudy-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(Source_Sans_Pro-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(Source_Sans_Pro-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(Source_Sans_Pro-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: url(Source_Sans_Pro-italic-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url(Source_Sans_Pro-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    src: url(Source_Sans_Pro-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Spirax';
    font-style: normal;
    font-weight: 400;
    src: url(Spirax-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Stoke';
    font-style: normal;
    font-weight: 300;
    src: url(Stoke-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Stoke';
    font-style: normal;
    font-weight: 400;
    src: url(Stoke-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Tangerine';
    font-style: normal;
    font-weight: 400;
    src: url(Tangerine-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Tangerine';
    font-style: normal;
    font-weight: 700;
    src: url(Tangerine-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url(Ubuntu-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url(Ubuntu-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url(Ubuntu-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: url(Ubuntu-italic-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url(Ubuntu-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url(Ubuntu-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    src: url(Varela-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    src: url(Vollkorn-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 700;
    src: url(Vollkorn-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    src: url(Vollkorn-italic-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 700;
    src: url(Vollkorn-italic-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    src: url(Yanone_Kaffeesatz-normal-300.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: url(Yanone_Kaffeesatz-normal-400.woff) format('woff');
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    src: url(Yanone_Kaffeesatz-normal-700.woff) format('woff');
    unicode-range: U+0-10FFFF;
}